* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  
    color: #111111;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    min-width: 1000px;
  
    background: #ffffff;
    /* max-width: 1200px; */
  
  }

  h1,
  h2,
  h3 {
    padding-right: 15px;
    padding-left: 15px;
  
    font-weight: bold;
    font-size: 3em;
  }
  
 
  .h-150 {
    height: 150px;
  }
  
 
  
  .p-2 {
    padding: 2em;
  }
  
  .color-logo {
    color: #246d69;
  }
  .mr-1 {
    margin-right: 3em;
  }
  
  .font-2 {
    font-size: 2em;
    padding-left: 84px;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .bg-light {
    background: #ffffff;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    z-index: 100;
  
    border-bottom: 1px solid #e0dfdf;
  }
  
  .fixed-header {
    
    position: fixed;
    height: 100px;
    width: 100%;
  
  }
  

  .nav-horizontal {
    display: flex;
    justify-content: space-evenly;
  
    list-style: none;
  }
  
  .nav-horizontal a {
    color: #111111;
    font-weight: bold;
    text-decoration: none;
  
    transition: 0.6s;
  }

  .uq-logo {
    color: #246d69;
    font-weight: bold;
    text-decoration: none;
  
    transition: 0.6s;
  }
 
  .nav-horizontal a:hover {
    color: #246d69;;
  }
  
  
  
  .viewable-1 {
    opacity: 1;
    padding-left: 100px;
    left: 0;
    width: 60%;
    height: 60%;
    position: relative;
    transition: transform .2s;

    animation: 3s anim-lineUp ;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(2%);
    }
    
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
 
  }
  
  .viewable-1:hover {
    transform: scale(1.5);
  }


  .container {
    letter-spacing: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;  
  }
  
  .container-1 {
    padding-left: 100px;
    padding-top: 110px;

    
      animation: 3s anim-lineUp ;
    }
    @keyframes anim-lineUp {
      0% {
        opacity: 0;
        transform: translateY(2%);
      }
      20% {
        opacity: 0;
      }
      50% {
        opacity: 1;
        transform: translateY(0%);
      }
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
    }
  
  
  .container-2 {
    position: absolute;
    color: #ffffff;
    top: 640px;
    right: 15px;
    text-align: right;
    margin-right: 30px;

    animation: 4s anim-lineUp ;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(2%);
    }
    
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  
  .column-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .strings {
    color: #111111;
    padding-left: 110px;
    padding-top: 120px;
    font-size: 70px;
    font-weight: 700;
    line-height: 90px;
    text-align: left;
    animation: 3s anim-lineUp ;
    }
    @keyframes anim-lineUp {
      0% {
        opacity: 0;
        transform: translateY(2%);
      }
      
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
  }
  
  .second-string {
    font-size: 25px;
    font-weight: 500;
    padding-left: 110px;
    line-height: 40px;
    padding-right: 100px;
    animation: 3s anim-lineUp ;
    }
    @keyframes anim-lineUp {
      0% {
        opacity: 0;
        transform: translateY(2%);
      }
      
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
   }
  
  .profile {
    margin-top: 0px;
  }
  
  /* .logos {
    width: 90%;
    height: 50%;
    position: relative;
    margin-bottom: 100px;
    margin-left: 60px;
  } */
 
  h3 {
    text-align: center;
    font-size: 10px;
    color: #246d69;
  }

  p {
text-align: center;
font-size: 20px;
padding-bottom: 50px;
padding-top: 50px;
  }

  .anim-show{
    /* width:300px;
    background:#176387;
    color:#fff;
    font-size:25px;
    border:3px solid #2BA2DB;
    padding:20px;
    margin:auto;
    margin-bottom:20px;
    text-align:center; */
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s; /* Задержка перед началом */
    }
  
    @keyframes show{
      0%{
      opacity:0;
      }
      100% {
      opacity:1;
      }
      }

      .contact {
        color: #246d69;
        font-weight: bold;
        text-decoration: underline;
        line-height: 1;
      }