* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;

  color: #111111;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  min-width: 1000px;

  background: #ffffff;


}

.container {
  max-width: 1920px;
}

h1,
h2,
h3 {
  padding-right: 15px;
  padding-left: 15px;

  font-weight: bold;
  font-size: 3em;
}


.h-150 {
  height: 150px;
}



.p-2 {
  padding: 2em;
}

.color-logo {
  color: #246d69;
}

.mr-1 {
  margin-right: 3em;
}

.font-2 {
  font-size: 2em;
  padding-left: 84px;
}

.font-bold {
  font-weight: bold;
}

.bg-light {
  background: #ffffff;
}

.justify-content-between {
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  z-index: 100;



  border-bottom: 1px solid #e0dfdf;
}

.fixed-header {

  position: fixed;
  height: 100px;
  width: 100%;

}


.nav-horizontal {
  display: flex;
  justify-content: space-evenly;

  list-style: none;
}

.nav-horizontal a {
  color: #111111;
  font-weight: bold;
  text-decoration: none;

  transition: 0.6s;
}

.uq-logo {
  color: #246d69;
  font-weight: bold;
  text-decoration: none;
  line-height: 1;



  transition: 0.6s;
}

.nav-horizontal a:hover {
  color: #246d69;
  ;
}





.titles {
  letter-spacing: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
}

.titles-1 {
  padding-left: 100px;
  padding-top: 110px;


  animation: 3s anim-lineUp;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


.viewable {

  position: relative;
  float: left;
  width: calc(33.33333% - 20px);
  margin-right: 20px;
  width: 100%;
  padding-bottom: 40px;




  animation: 3s anim-lineUp;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(2%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.titles-2 {

  /* padding-right: 60px; */
  color: #ffffff;
  position: absolute;
  width: 100%;
  top: 1px;
  text-align: right;
  padding-right: 65px;


  animation: 4s anim-lineUp;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(2%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


.column-container {
  display: flex;
  flex-wrap: wrap;
}


.strings {
  color: #111111;
  padding-left: 100px;
  font-size: 25px;
}

.second-string {
  font-size: 20px;
}

.profile {
  padding-left: 100px;
  font-size: 80px;
}

/* .logos {
    width: 90%;
    height: 50%;
    position: relative;
    margin-bottom: 100px;
    margin-left: 60px;
  } */

h3 {
  text-align: center;
  font-size: 100px;
  color: #246d69;
}

.logo-1,
.logo-2,
.logo-3,
.logo-4,
.logo-5,
.logo-6,
.logo-7,
.logo-8,
.logo-9,
.logo-10,
.logo-11,
.logo-12,
.logo-13,
.logo-14,
.logo-15,
.logo-16,
.logo-17,
.logo-18,
.logo-19,
.logo-20,
.logo-21,
.logo-22,
.logo-23 {
  margin-bottom: 50px;
  margin-left: 100px;
  width: 100px;
  height: 100px;
}

.logos {
  width: 100%;
  height: auto;
  transition: transform .2s;
}

.logos:hover {
  transform: scale(1.5);
}

.anim-show {
  /* width:300px;
    background:#176387;
    color:#fff;
    font-size:25px;
    border:3px solid #2BA2DB;
    padding:20px;
    margin:auto;
    margin-bottom:20px;
    text-align:center; */
  opacity: 0;
  /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s;
  /*Скорость перехода состояния элемента*/
  animation: show 3s 1;
  /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards;
  /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 0s;
  /* Задержка перед началом */
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.profile-1 {
  color: #111111;
  padding-left: 110px;
  padding-top: 5px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  animation: 3s anim-lineUp;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(2%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.profile-2 {
  font-size: 25px;
  font-weight: 500;
  padding-left: 110px;
  line-height: 40px;

  animation: 3s anim-lineUp;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

P {
  border: 2px solid rgb(23, 23, 23);
  margin-left: 110px;
  margin-right: 110px;
  border-radius: 20px/20px;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  animation: 3s anim-lineUp;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }



}

.profile-3 {
  opacity: 1;

  left: 0;
  width: 50%;
  height: 50%;
  position: relative;
  transition: transform .2s;

}

.profile-3:hover {
  transform: scale(2);
}

.profile-4 {
  width: 20%;
  height: 20%;
  transition: transform .2s;

}

.profile-4:hover {
  transform: scale(2);
}